@page
@using Azin.Shadi.Core.Convertors;
@model Azin.Shadi.Web.Pages.Admin.Transaction.TodayTransactionsModel
@{
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست تراکنش های امروز</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست تراکنش های امروز
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row ">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                                <thead>
                                    <tr>
                                        <th>کد تراکنش</th>
                                        <th>نوع تراکنش</th>
                                        <th>مبلغ</th>
                                        <th>کاربر</th>
                                        <th>تاریخ</th>
                                        <th>توضیحات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var transaction in Model.Transactions)
                                    {
                                        <tr>
                                            <td>@transaction.TransactionId</td>
                                            <td>
                                                @switch (transaction.TransactionType.InvoiceTypeTitle)
                                                {
                                                    case "OnlinePayment":
                                                        <p>پرداخت آنلاین</p>
                                                        break;
                                                    case "WalletPayment":
                                                        <p>پرداخت از کیف پول</p>
                                                        break;
                                                    case "WalletRecharge":
                                                        <p>شارژ کیف پول</p>
                                                        break;
                                                }
                                            </td>
                                            <td>@transaction.Amount</td>
                                            <td>@transaction.Related_User.Name</td>
                                            <td>@transaction.PayDate.ToShamsi()</td>
                                            <td>@transaction.Description</td>
                                        </tr>
                                    }
                                </tbody>
                            </table><div class="row text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>