@model IEnumerable<Azin.Shadi.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1000;
}


<div class="manageProductList shadow" style="margin-top:60px;">
    <table class="table">
        <tr style="background-color:#e7e7e7">
            <td class="fw-bold">ردیف</td>
            <th>
                @Html.DisplayNameFor(model => model.Name) @Html.DisplayNameFor(model => model.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eamil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                عملیات
            </th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>@count</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eamil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @if (item.IsActive == true)
                    {
                        <span class="text-success">فعال</span>
                    }
                    else
                    {
                        <span class="text-danger">غیر فعال</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", null, new { id = item.id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("جزئیات", "Details", null, new { id = item.id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("حذف", "Delete", null, new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
            count += 3;
        }
    </table>
</div>
